body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Dowload Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-div {
  text-align: center;
  padding: 0 7%;
}

.feature-icon {
  margin-bottom: 1rem;
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

p {
  color: #8f8f8f;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  padding-bottom: 3%;
  text-align: center;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  margin: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta */
#cta {
  background-color: #ff4c68;
  color: white;
  text-align: center;
  padding: 7% 15%;
}

.cta-text {
  padding-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer */
#footer {
  background: #fff;
  text-align: center;
  padding: 7% 15%;
}

.footer-icon {
  margin: 20px 10px;
}

/* Media jquery
@media (max-width: 900px) {
  h1 {
    font-size:60px;
  }
} */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* z-index only works when the element has a position (relative, absolute, or fixed) */

/* mix selector
.container-fluid h1 {
  color: red;
}
this means only the "h1" that is inside "container-fluid" is red, other h1s remain the same */
